.checkboxesWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.checkbox svg {
  width: 1rem;
  cursor: pointer;
}

.checkbox svg:hover {
  color: red;
}
