.inputField {
  padding: 0.516rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--border);
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.inputWrapper {
  position: relative;
}
