.wrapper {
  background-color: var(--white);
  padding: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.25rem;
  box-shadow: var(--shadow-2);
  width: 60rem;
  max-width: 100%;
  margin: 3rem auto 0;
}

.buttonWrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.formItems {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

.reorderItem {
  transform: none !important;
}
