* {
  box-sizing: border-box;
}

html {
  background-color: var(--gray);
  color: var(--black);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
}

label {
  font-weight: bold;
}
